/* === Alerts estilo Bootstrap (solo info) === */

.alert {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 0.95rem;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}
